*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    background-color: #ffebcd;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.right-border {
    border-right: none;
}

.todo-list-pending .row, .todo-list-completed .row {
    padding: 3px;
}

.card {
    border-radius: 10px;
}

footer {
    font-family: 'PT Mono', monospace;
    font-size: 0.80em;
    padding: 10px;
    padding-left: 15px;
}